// 颜色定义规范
$font-color: #c69;

$primary-color: #b7c6b3;

// 莫兰迪色
$color1: #a4a4a4;
$color2: #7a7383;
$color3: #935556;
$color4: #685453;
$color5: #ded8d8;
$color6: #656462;

$color7: #c9c0d3;
$color8: #ede5fc;
$color9: #a47c7c;
$color10: #e9d2cc;
$color11: #d4d4c8;
$color12: #e0cdd3;

$color13: #c0cad6;
$color14: #b1afb4;
$color15: #e1e3e2;
$color16: #b7c6b3;
$color17: #f2eeeb;
$color18: #c8c6ba;

$color19: #8996a6;
$color20: #9fa5bb;
$color21: #96a28c;
$color22: #788a74;
$color23: #fdedd6;
$color24: #c7b4a5;

$color25: #fefaee;
$color26: #f2efea;
$color27: #d6c8ae;
$color28: #c7b7a8;
$color29: #939391;
$color30: #c0bcbd;

$color31: #d9d8d6;
$color32: #fbebdb;
$color33: #b3b1a4;
$color34: #9e9785;
$color35: #eeeced;
$color36: #fffcf3;

$color37: #cc6699;










// 字体定义规范
